body {
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
p,
ul,
li {
    color: rgb(1, 20, 124);
    font-size: 12;
    margin: 10px auto;
}

li {
    width: fit-content;
}

img {
    width: 200px;
    margin: 10px auto;
}

.cabecera {
    background-color: white;
    padding: 20px 15px;
    margin: 15px auto 0;
    width: 50%;
    border-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid :nth-child(1) {
    filter: contrast(2);
}

.grid :nth-child(2) {
    filter: grayscale(.5);
}